.sidebar {
    display: flex;
    flex-direction: column;
    width: 266px;
    height: 100%;
    background-color: #18181B;
    position: absolute;
    left: 96px;
    border-right: 1px solid #555;
    top: 0;
}

.search {
    flex-shrink: 0;
    height: 144px;
    background-color: #18181B;
    border-bottom: 1px solid #555;
}

.recent {
    margin-left: 5px;
    padding-top: 5px;
    height: 20px;
    font-size: 14px;
    font-style:normal;
    font-weight:bold;
    font-family:'Montserrat';
    color: #DDDADA;
}

.recent-label {
    margin-left: 5px;
}

.chats {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat {
    height: 85px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-bottom: 1px solid #555;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
}

.chat:hover {
    background-color: #18A0FB;
}

.summary {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.description {
    font-weight: normal;
    font-size: 14px;
    color: #DDDADA;
    margin-left: 5px;
}