.in-quiz {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #27272A;
    padding-bottom: 80px;
    border-right: 1px solid #555;
    top: 0;
    font-family: 'Montserrat';
    font-size: 24px;
}

.in-quiz::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit-based browsers */
}

.in-quiz-footer {
    display: flex;
    position: fixed;
    width: calc(100% - 96px);
    bottom: 0;
    left: 96;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top: 1px solid #555;
    background-color: #18181B;
    font-size: 32px;
    font-weight:bold;
    font-family:'Montserrat';
}

.in-quiz-footer .submit-quiz {
    margin-right: 20px;
    background-color: #18A0FB;
    height: 60px;
    width: 280px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
} 

.in-quiz-footer .text {
    margin-left: 20px;
} 