.quiz-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #27272A;
    border-right: 1px solid #555;
    top: 0;
    font-family: 'Montserrat';
    font-size: 24px;
}

.quiz-results::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit-based browsers */
}

.quiz-results-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 96;
    width: calc(100% - 140px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    height: 100px;
    background-color: #18181B;
    border-bottom: 1px solid #555;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    font-weight:bold;
    font-family:'Montserrat';
}

.quiz-results-header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    font-size: 20px;
}

.quiz-results-header-buttons .icons {
    display: flex;
}

.quiz-results-header-buttons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: #27272A;
    height: 60px;
    width: 60px;
    border-radius: 15px;
}

.quiz-results .questionf {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    gap: 50px; /* remove later*/
}

.quiz-results .questionf .questione {
    display: flex;
    min-height: 400px;
    flex-direction: column;
    background-color: #1E1E1E;
    width: 65%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-bottom: 20px;
}

.quiz-results .questionf .quest-textee {
    display: flex;
    flex-direction: column;
}

.quiz-results .questionf .info {
    margin: 40px;
    font-weight: bolder;
    color: #AEAEAE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quiz-results .questionf .info .left {
    display: flex;
    gap: 10px;
}

.quiz-results .expanded-question {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.quiz-results .questionf .question-textee {
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 40px;
    word-wrap: break-all;
}

.quiz-results .questionf .multiple-choice {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;
    width: calc(100% - 80px);
    margin: 0 40px;
    place-items: center;
}

.quiz-results .questionf .choice {
    padding: 15px;
    padding-bottom: 30px;
    background-color: #27272A;
    border: 1px solid #FFFFFF;
    height: 50px;
    width: 95%;
    border-radius: 20px;
}

.quiz-results .questionf .choice.correct {
    background-color: #A6FF86;
    color: black;
}

.quiz-results .questionf .choice.wrong {
    background-color: #FF4E2E;
}

.quiz-results .questionf .short-answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-results .questionf .question-answer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-results .questionf .question-label {
    margin-left: 40px;
    font-weight: bold;
    color: #3F3F46;
    font-size: 16px;
}

.quiz-results .questionf .short-answer .answer {
    resize: none;
    width: calc(100% - 120px);
    min-height: 120px;
    background-color: #27272A;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 24px;
    padding: 20px;
    padding-bottom: 80px;
}

.quiz-results .questionf .short-answer .explanation {
    resize: none;
    width: calc(100% - 120px);
    background-color: #27272A;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 24px;
    padding: 20px;
}