.chat {
    height: 85px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    border-bottom: 1px solid #555;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
}

.chat-heading {
    display: flex;
}

.chat-date {
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 10px;
    font-style: normal;
}

.chat:hover {
    background-color: #18A0FB;
}

.chat-summary {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.chat-description {
    font-weight: normal;
    font-size: 14px;
    color: #DDDADA;
    margin-left: 5px;
    margin-right: 15px;
    overflow: hidden;
    max-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}