.response {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #1E1E1E;
    color: white;
    font-family: 'Montserrat';
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    word-wrap: break-all;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.response-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0px;
    left: 60px;
}

.response-buttons .left {
    display: flex;
}

.response-buttons .right {
    display: flex;
}

.response-buttons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: #27272A;
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
