.quiz {
    height: 85px;
    flex-shrink: 0;
    display: flex;
    border-bottom: 1px solid #555;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat';
    font-style: normal;
}

.quiz:hover {
    background-color: #18A0FB;
}

.quiz-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    font-size: 20px;
}

.quiz-buttons .icons {
    display: flex;
    height: 100%;
    align-items: center;
}

.quiz-buttons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: #1E1E1E;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    z-index: 10;
}

.quiz-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    gap: 5px;
    height: 100%;
}

.quiz-title {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.quiz-tags {
    font-weight: normal;
    font-size: 14px;
    color: #DDDADA;
    margin-left: 5px;
}