.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    background-color: #1E1E1E;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.chart-container.pie {
    margin-top: 140px;
}

.chart-container.line {
    padding-bottom: 40px;
}