nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    width: 96px;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border-right: 1px solid #555;
    z-index: 999;
}

.icon {
    color: var(--regular);
    margin: 25px;
    height: 30px;
    width: 30px;
}

.modes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-top: 25px;
}

.mode {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 75px;
    height: 75px;
    background-color: var(--submain);
    border-radius: 25px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
    color:var(--main)
}

.nav-expanded .mode {
    width: 192px;
}

.label {
    opacity:0;
}

.nav-expanded .label {
    opacity: 1;
    display: flex;
    color: var(--regular);
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Montserrat';
    transition-delay: 0.2s;
}

nav .navigate:hover .mode {
    display: flex;
    background-color: var(--interactable);
}

nav:hover {
    width: 218px;
}
