.app-container {
    display: flex;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar-spacer {
    width: 95px;
    flex-shrink: 0;
}

button {
    color: var(--regular);
}

.theme.light {
    --main: #FFFFFF;
    --submain: #F0F0F0;
    --contrast: #FFFFFF;
    --interactable: #18A0FB;
    --modal_bg: #00000080;
    --heading: #18181B;
    --subheading: #27272A;
    --regular: #18181B;
    --description: #27272A;
    --background: #E0E0E0;
    --alt_backgorund: #E0E0E0;
  }
  
/* Dark Mode */
.theme.dark {
    --main: #18181B;
    --submain: #27272A;
    --contrast: #1E1E1E;
    --interactable: #18A0FB;
    --modal_bg: #00000080;
    --heading: #FFFFFF;
    --subheading: #DDDADA;
    --regular: #FFFFFF;
    --description: #AEAEAE;
    --background: #3F3F46;
    --alt_background: #1B1B1B;
}